<!DOCTYPE html>
<html lang="en">
<head>
<title>Grocery Finds</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../static/images/logo.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
   /* background: #6cf; */



.body-content {
    padding-bottom: 110px;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;  
  right: 0;
  left: 0;
  height: 60px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 18rem;
    margin: 1rem;
}

.card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f8f9fa;
}

.commit{
    padding: 25px;
    line-height: 6;
    font-size: 23px;
  }

.profile-title{
  font-size: 25px;
  font-weight: bold;
}

.profile-content{
  font-size: 18px;
  font-family:monospace;
  color: #8f8c8c;
}

.role{
  font-size: 20px;
  font-family:monospace;
  font-style: italic;
}

</style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-gradient">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <li class="nav-item">
            <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding-large"><img class="img-fluid" style="max-height: 40px; max-width: 40px;" alt="Responsive image" src="/static/images/logo.png"></a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('model')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MODEL</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('location')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOCATION</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('store')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">STORE</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('items')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">ITEM</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('about')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" size="30">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </div>
  </div>
</nav>



<!-- Page content -->
<div class="w3-content body-content" style="max-width:2000px;margin-top:50px">
    <h1 class="w3-text-black" style="text-align: center;text-shadow:1px 1px 0 #8f8c8c; font-size: 60px;">About Us</h1>
    <br>
    <div class="w-75 mx-auto fs-3" style="text-align: center;">
      <p style="display: inline-block; text-align: left; font-weight: bold;">
      GroceryFinds was created to empower consumers' purchasing decisions and to hold grocery stores 
      accountable for potential price gouging. Due to recent concerns over rising grocery prices, 
      price gouging by retailers has become an important issue and we want to level the playing field 
      for everyday people by giving them access to the pricing decisions being made by the stores that 
      can directly affect the market.
      </p>
    </div>
    <br>

  <!-- The About Us Section -->
    <div class="container overflow-hidden text-center">
        <div class="row mx-auto text-center">
            <!-- row 1 col 1 -->
            <div class="col">
                <div class="card hover active" style="width: 23rem;">
                    <img src="../static/images/shaojie.jpg" class="card-img-top" alt="shaojie">
                    <div class="card-body">
                    <h5 class="card-title profile-title">Shaojie Hou</h5>
                    <p class="card-text profile-content">Math Major</p>
                    <p class="card-text role">Home/About Page</p>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of commits
                        <span class="badge bg-dark text-light">22</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of issues
                        <span class="badge bg-dark text-light">5</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of unit tests
                        <span class="badge bg-dark text-light">N/A</span>
                      </li>
                    </ul>
                    <a href="https://www.linkedin.com/" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <!-- row 1 col 2 -->
            <div class="col">
                <div class="card hover active" style="width: 23rem;">
                    <img src="../static/images/emma-2.jpg" class="card-img-top" alt="shaojie">
                    <div class="card-body">
                    <h5 class="card-title profile-title">Emma R Louis </h5>
                    <p class="card-text profile-content">Mechanical Engineering Major </p>
                    <p class="card-text role">Item Page</p>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of commits
                        <span class="badge bg-dark text-light">12</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of issues
                        <span class="badge bg-dark text-light">10</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of unit tests
                        <span class="badge bg-dark text-light">N/A</span>
                      </li>
                    </ul>
                    <a href="https://www.linkedin.com/" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <!-- row 1 col 3 -->
            <div class="col">
                <div class="card hover active" style="width: 23rem;">
                    <img src="../static/images/riley.jpg" class="card-img-top" alt="shaojie">
                    <div class="card-body">
                    <h5 class="card-title profile-title">Riley Sample</h5>
                    <p class="card-text profile-content">Economics Major</p>
					          <p class="card-text role">Location/Store Page</p>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of commits
                        <span class="badge bg-dark text-light">11</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of issues
                        <span class="badge bg-dark text-light">2</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of unit tests
                        <span class="badge bg-dark text-light">N/A</span>
                      </li>
                    </ul>
                    <a href="https://www.linkedin.com/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- row 2 col 1 -->
        <div class="row mx-auto text-center">
            <div class="col">
                <div class="card hover active" style="width: 23rem;">
                    <img src="../static/images/darren.png" class="card-img-top" alt="shaojie">
                    <div class="card-body">
                    <h5 class="card-title profile-title">Darren Huang</h5>
                    <p class="card-text profile-content">MIS Major</p>
                    <p class="card-text role">Model Page</p>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of commits
                        <span class="badge bg-dark text-light">5</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of issues
                        <span class="badge bg-dark text-light">0</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of unit tests
                        <span class="badge bg-dark text-light">N/A</span>
                      </li>
                    </ul>
                    <a href="https://www.linkedin.com/" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card hover active" style="width: 23rem;">
                    <img src="../static/images/yaashi-2.jpg" class="card-img-top" alt="shaojie">
                    <div class="card-body">
                    <h5 class="card-title profile-title">Yaashi Khatri</h5>
                    <p class="card-text profile-content">Aerospace Engineering Major</p>
                    <p class="card-text role">N/A</p>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of commits
                        <span class="badge bg-dark text-light">0</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of issues
                        <span class="badge bg-dark text-light">0</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. of unit tests
                        <span class="badge bg-dark text-light">N/A</span>
                      </li>
                    </ul>
                    <a href="https://www.linkedin.com/" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <div class="col">
              <div class="card hover active" style="width: 25rem;">
                  <div class="card-body">


                  <br>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center commit">
                      Total No. of commits
                      <span class="badge bg-dark text-light">50</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center commit">
                      Total No. of issues
                      <span class="badge bg-dark text-light">17</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center commit">
                      Total No. of unit tests
                      <span class="badge bg-dark text-light">N/A</span>
                    </li>
                  </ul>
                  <a href="https://gitlab.com/" class="stretched-link"></a>
                  </div>
              </div>
          </div>
			
        </div>
        <br>
        <br>

        <h2 class="w3-text-black" style="text-align: center;text-shadow:1px 1px 0 #8f8c8c; font-size: 40px;">Gitlab Repository</h2>
        <br>
        <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Vertical button group">
          <button type="button" class="btn btn-outline-dark" style="width: 1100px;height: 70px;font-size: 25px;" onclick="window.location.href='https://gitlab.com/emmarl4657/cs331e-idb/-/issues';">GitLab Issue Tracker</button>
          <button type="button" class="btn btn-outline-dark" style="width: 1100px;height: 70px;font-size: 25px;" onclick="window.location.href='https://gitlab.com/emmarl4657/cs331e-idb';">GitLab Repo</button>
          <button type="button" class="btn btn-outline-dark" style="width: 1100px;height: 70px;font-size: 25px;" onclick="window.location.href='https://gitlab.com/emmarl4657/cs331e-idb/-/wikis/home';">GitLab Wiki</button>
        </div>

    </div>
</div>


<footer class="text-center text-white" style="background-color: #fafafa;">
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(154, 152, 152, 0.2);">
    © 2023 Copyright: GroceryFinds
  </div>
  <!-- Copyright -->
</footer>

    </body>
</html>
