<!DOCTYPE html>
<html lang="en">
<head>
<title>Grocery Finds</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../static/images/logo.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<style>
body {
	font-family: "Lato", sans-serif;
	background-image: url('static/images/splash-test.png');
}
	
.mySlides {display: none}
footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
   background: #6cf;
}


</style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid main-container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <li class="nav-item">
            <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding-large"><img class="img-fluid" style="max-height: 40px; max-width: 40px;" alt="Responsive image" src="/static/images/logo.png"></a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('model')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MODEL</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('location')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOCATION</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('store')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">STORE</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('items')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">ITEM</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('about')}}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" size="30">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </div>
  </div>
</nav>



<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- The Main Section -->
 
  <div class="w3-container w3-content w3-center w3-padding-64 we-panel" style="max-width:800px" id="main">
    <img class="img-fluid" alt="Responsive image" src="/static/images/logoFull.png">
	<br><br><br><br><br><br><br><br><br>
    <h1 class="w3-text-black" style="text-shadow:1px 1px 0 #444">Grocery Finds</h2>
    <p class="w3-opacity" style="font-size: large; text-shadow:1px 1px 0 #444"><i>Introducing the ultimate shopping solution for savvy grocery shoppers - a 
        website that helps you find the best deals on your grocery list, every time!</p>
  </div>
</div>



<footer class="text-center text-white" style="background-color: #fafafa;">
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(154, 152, 152, 0.2);">
    © 2023 Copyright: GroceryFinds
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>
