<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="../static/images/logo.png" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lato"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        />
        <!-- <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        /> -->
        <style>
            body {
                font-family: "Lato", sans-serif;
            }
            .mySlides {
                display: none;
            }

            #box1 {
                width: 200px;
                height: 200px;
                float: left;
                text-align: center;
            }
            #box2 {
                width: 200px;
                height: 200px;
                float: left;
                text-align: center;
            }

            #box3 {
                width: 200px;
                height: 200px;
                float: left;
                text-align: center;
            }
            <!-- .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            -- > img {
                width: 300px;
                height: 300px;
                object-fit: contain;
                border: 5px solid #e6e6e6;
            }

            a {
                text-align: center;
                display: block;
            }
            <!-- h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }

            footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px; /* Height of the footer */
                background: #6cf;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a
                            class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                            href="javascript:void(0)"
                            onclick="myFunction()"
                            title="Toggle Navigation Menu"
                            ><i class="fa fa-bars"></i
                        ></a>
                        <li class="nav-item">
                            <a
                                href="{{url_for('index')}}"
                                class="w3-bar-item w3-button w3-padding-large"
                                ><img
                                    class="img-fluid"
                                    style="max-height: 40px; max-width: 40px"
                                    alt="Responsive image"
                                    src="/static/images/logo.png"
                            /></a>
                        </li>
                        <li class="nav-item">
                            <a
                                href="{{url_for('index')}}"
                                class="w3-bar-item w3-button w3-padding-large"
                                >HOME</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="{{url_for('model')}}"
                                class="w3-bar-item w3-button w3-padding-large w3-hide-small"
                                >MODEL</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="{{url_for('location')}}"
                                class="w3-bar-item w3-button w3-padding-large w3-hide-small"
                                >LOCATION</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="{{url_for('store')}}"
                                class="w3-bar-item w3-button w3-padding-large w3-hide-small"
                                >STORE</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="{{url_for('items')}}"
                                class="w3-bar-item w3-button w3-padding-large w3-hide-small"
                                >ITEM</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="{{url_for('about')}}"
                                class="w3-bar-item w3-button w3-padding-large w3-hide-small"
                                >ABOUT</a
                            >
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                            size="30"
                        />
                        <button class="btn btn-dark" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Page content -->
        <div
            id="page-container"
            class="w3-content"
            style="max-width: 2000px; margin-top: 46px"
        >
            <h1
                class="w3-text-black"
                style="text-align: center; text-transform: uppercase"
            >
                {{model_name}} Model
            </h1>
            <hr class="center" />
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        {% for attr in models[model_name][0] %}
                        <th scope="col"><strong>{{attr}}</strong></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for instance in models[model_name] %}
                    <tr>
                        {% for attr in instance %} {% if attr == "id" %}
                        <th scope="row"><strong>{{instance[attr]}}</strong></th>
                        {% else %}
                        <td>{{instance[attr]}}</td>
                        {% endif %} {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a
                href="{{url_for('model')}}"
                class="btn btn-primary btn-lg center"
                role="button"
                aria-pressed="true"
                >Back to Models</a
            >
        </div>

        <footer
            class="text-center text-white"
            style="background-color: #fafafa"
        >
            <!-- Copyright -->
            <div
                class="text-center text-dark p-3"
                style="background-color: rgba(154, 152, 152, 0.2)"
            >
                © 2023 Copyright: GroceryFinds
            </div>
            <!-- Copyright -->
        </footer>
    </body>
</html>
